.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 56px;
  left: 0;
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1020;
  transition: all 0.3s;
  
  @media (max-width: 991px) {
    transform: translateX(-100%);
    
    &.show {
      transform: translateX(0);
    }
  }
}

